<!-- TODO 7: Make our focus beautiful -->
<article
  cdkMonitorSubtreeFocus
  (cdkFocusChange)="elementOrigin = formatOrigin($event); markForCheck()"
  [class]="elementOrigin"
>
  <header class="book__header">
    <h3 class="book__title">{{ book.title }}</h3>
    <!-- TODO 6: Add telling button names -->
    <button (click)="removeBook()" class="book__text book__close">
      <p>Remove {{ book.title }}</p>
    </button>
  </header>
  <p class="book__text book__author">Author: {{ book.author }}</p>
  <p class="book__text book__abstract">{{ book.abstract }}</p>
</article>
