<form>
  <label class="form-field">
    <span>ISBN</span>

    <input required />

    <small class="form-field-hint"> Please insert an ISBN. </small>
  </label>

  <label class="form-field">
    <span>Title</span>

    <input required />

    <small class="form-field-hint"> Please insert a title. </small>
  </label>

  <label class="form-field">
    <span>Author</span>

    <input required />
  </label>

  <label class="form-field">
    <span>Cover-URL</span>

    <input />
  </label>

  <label class="form-field">
    <span>Abstract</span>

    <input />
  </label>

  <div class="form-actions">
    <input type="submit" value="Save" />
  </div>
</form>
