<header>
  <a class="skiplink" [href]="skipLinkPath">Skip to main content</a>
  <!-- Angular focus 2: highlight current link with routerLinkActive and inform screen reader about it by adding ariaCurrentWhenActive  -->
  <div class="visible-header">
    <app-navigation></app-navigation>

    <div class="logo">
      <img alt="" src="../assets/a11y.png" />
      <span class="logo__text">
        <span class="secondary-color">Accessible</span> Reads</span
      >
    </div>
  </div>
</header>
<main id="content"><router-outlet></router-outlet></main>
