<header>
  <nav class="crumbs">
    <ol>
      <!-- TODO 2: highlight current link with routerLinkActive and inform screen reader about it by adding ariaCurrentWhenActive  -->
      <li
        class="crumb"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <a routerLink="new-book">New book</a>
      </li>
      <li
        class="crumb"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <a routerLink="books">Books</a>
      </li>
      <li
        class="crumb"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <a routerLink="about">About Accessible Reads</a>
      </li>
    </ol>
  </nav>
  <div class="logo">
    <img src="./../assets/a11y.png" />
    <h1><span class="secondary-color">Accessible</span> Reads</h1>
  </div>
</header>
<main><router-outlet></router-outlet></main>
