<nav>
  <!--Accessible hamburger-->
  <!--https://www.w3.org/WAI/ARIA/apg/patterns/menu-button/examples/menu-button-links/#ex_label-->
  <div id="hamburger" class="mobile-menu">
    <button
      type="button"
      id="menubutton"
      class="hamburger"
      aria-label="Accessible Reads Quick Links"
      aria-controls="menuContent"
      (click)="onButtonClick()"
      [attr.aria-expanded]="isMenuOpen"
    >
      ☰
    </button>
    <ul id="menuContent" class="hamburgerContent" *ngIf="isMenuOpen">
      <li
        class="menu-item"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        *ngFor="let menuItem of menuItems"
      >
        <a [routerLink]="menuItem.url">{{ menuItem.title }}</a>
      </li>
    </ul>
  </div>

  <!--Accessible desktop navigation-->
  <div class="desktop-navigation">
    <ul class="desktop-navigation__links" *ngFor="let menuItem of menuItems">
      <li
        class="navigation-item"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
      >
        <a [routerLink]="menuItem.url">{{ menuItem.title }}</a>
      </li>
    </ul>
  </div>
</nav>
