@import "../../styles.scss";

.desktop-navigation {
  grid-column: 1;
  align-self: center;
  display: inline-block;

  .desktop-navigation__links {
    list-style-type: none;
    padding-inline-start: 0;
    display: inline-block;
  }
}

.navigation-item {
  display: inline-block;
  padding: $xxs-spacing $xs-spacing;

  &:first-child {
    padding-left: 0;
  }

  &[aria-current="page"] {
    text-decoration: underline 3px;
    text-underline-offset: $xxs-spacing;
  }
}

.navigation-item a {
  font-size: $xs-font;
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

.hamburger {
  font-size: 3em;
  background: none;
  border: none;
  cursor: pointer;
}
/* hamburger */
.hamburgerContent {
  margin: 0;
  list-style: none;
  position: absolute;
  border: $xxs-spacing $secondary-color solid;
  border-radius: 5px;
  background-color: $primary-color-invert;
  padding-inline-start: 0;
  width: max-content;
}

.menu-item a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: $primary-color;
  font-size: $xs-font;
  font-weight: bold;
  border-radius: 5px;
  width: max-content;

  a {
    font-size: $xs-font;
    font-weight: bold;
    color: $primary-color;
    text-decoration: none;
  }
}

.menu-item:focus,
.menu-item:hover {
  background: $backgrond-light-secondary;
}

@media (min-width: $tablet) {
  .hamburgerContent,
  .hamburger {
    display: none;
  }
}

/* tablet breakpoint */
@media screen and (max-width: $tablet) {
  .hamburger {
    display: block;
  }
  .desktop-navigation {
    display: none;
  }
}
