<ng-container *ngIf="book$ | async as book">
  <section class="book-insights">
    <div>
      <h1>
        {{ book.title }}
      </h1>
      <h2>ISBN - {{ book.isbn }}</h2>
      <p>
        {{ book.abstract }}
        <i>{{ book.author }}</i>
      </p>
    </div>

    <div>
      <img [src]="book.cover" [alt]="book.title" />
    </div>
  </section>
  <!--https://dev.to/grahamthedev/5-star-rating-system-actually-accessible-no-js-no-wai-aria-3idl-->
  <!--https://jsfiddle.net/s0c35pqw/-->
  <!--Alternative: https://www.w3.org/WAI/tutorials/forms/custom-controls/-->

  <fieldset class="star-rating">
    <legend>Rate this book:</legend>
    <div>
      <ng-container *ngFor="let rating of ratings; index as i">
        <input
          (click)="handleRating(i + 1)"
          type="radio"
          name="rating"
          [value]="i"
          [id]="rating"
        />
        <label [for]="rating">
          <span>{{ i + 1 }} star</span>
        </label></ng-container
      >
    </div>
  </fieldset>
</ng-container>
